{% macro displayblogs(blogs_list)%} {%for blog in blogs_list%}
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
    <div class="well well-lg">

        <p>{{blog.blog| truncate(100)}}</p>
        <p>Written by: {{blog.writer.writername}} <a href="/blog/{{blog.id}}" class="btn btn-primary pull-right">Enter your pitch</a>
        </p>
    </div>
</div>
{%endfor%} {%endmacro%} {%macro displayComments(comment_list)%} {%for comment in comment_list%}
<div class="col-md-12">
    <h5>{{comment.writer.writername}}</h5>
    <p>{{comment.comment}}</p>
</div>
{%endfor%} {%endmacro%}